body {
    background-image: linear-gradient(to top right, red,white);
}

.satu {
    margin-left: 20%;
    width: 60%;
    height: 450px;
    background-image: radial-gradient(circle at bottom center, white, blue);
}

.dua {
    margin-left: 20%;
    width: 60%;
    height: 250px;
    background-image: radial-gradient(circle 400px, blue, white);
}